.workersListTitle{
    margin-bottom: 4px;
    display: block;
}
.timeControl {
    display: flex;
    line-height: 29px;
    margin-bottom: 5px;
}
.timeControl span {
    margin: 0 2px;
    font-weight: 500;
}